h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.formulario{
    display: flex;
    justify-content: center;
    margin: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    max-width: 300px;
    height: 30px;
    margin-top: 5px;
    padding: 5px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

input[type="text"]:focus,
input[type="email"]:focus,
select:focus,
textarea:focus {
    border-color: #4CAF50;
    outline: none;
}

textarea {
    width: 300px;;
    height: 200px;
    resize: none;
}

.form-buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

input[type="submit"]{
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
}

input[type="submit"]:hover{
    background-color: #90ee90;
}

input[type="reset"]{
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #b22222;
    color: white;
    font-size: 16px;
}

input[type="reset"]:hover{
    background-color: #cd5c5c;
}